{{#*inline "main"}}
<p>
  Share your identity with
  <span class="parent-host">{{ parent_host }}</span>?
</p>

<div id="user-info">
  <div id="action">
    auth failed.
  </form>
</div>

{{/inline}}

{{#> prompt-base}}{{/prompt-base}}
