<!doctype html>

<p>oh sick. hey {{ did }}. you can close this window now.</p>

<script>
// TODO: tie this back to its source...........
localStorage.setItem("did", {{{json did}}});
window.close();
</script>
