<!doctype html>

<p>oh sick. hey {{ did }}. you can close this window now.</p>

<script>
// TODO: tie this back to its source...........

localStorage.setItem("who-am-i", JSON.stringify({
  result: "success",
  did: {{{json did}}},
  token: {{{json token}}},
  fetch_key: {{{json fetch_key}}},
}));
window.close();
</script>
