{{#*inline "main"}}
<p>
  Auth failed: {{ reason }}
</p>

<div id="user-info">
    auth failed.
</div>

<script>
// TODO: tie this back to its source...........

localStorage.setItem("who-am-i", JSON.stringify({
  result: "fail",
  reason: "alskfjlaskdjf",
}));
window.close();
</script>
{{/inline}}

{{#> return-base}}{{/return-base}}
