{{#*inline "description"}}A little identity-verifying auth service for microcosm demos{{/inline}}

{{#*inline "main"}}
  <div class="mini-content">
    This is a little identity-verifying service for microcosm demos.
  </div>
{{/inline}}

{{#> base-full}}{{/base-full}}
