<!doctype html>

<style>
body {
  color: #434;
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}
.wrap {
  border: 2px solid #221828;
  border-radius: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  background: #221828;
  display: flex;
  justify-content: space-between;
  padding: 0 0.25rem;
  color: #c9b;
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}
header > * {
  flex-basis: 33%;
}
header > .empty {
  font-size: 0.8rem;
  opacity: 0.5;
}
header > .title {
  text-align: center;
}
header > a.micro {
  text-decoration: none;
  font-size: 0.8rem;
  text-align: right;
  opacity: 0.5;
}
header > a.micro:hover {
  opacity: 1;
}
main {
  background: #ccc;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.25rem 0.5rem;
}
p {
  margin: 0.5rem 0;
}

#loader {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.spinner {
  animation: rotation 1.618s ease-in-out infinite;
  border-radius: 50%;
  border: 3px dashed #434;
  box-sizing: border-box;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
}
@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

#user-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}
#action {
  background: #eee;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
  font-size: 0.8rem;
  align-items: baseline;
  border-radius: 0.5rem;
  border: 1px solid #bbb;
  cursor: pointer;
}
#action:hover {
  background: #fff;
}
#allow {
  background: transparent;
  border: none;
  border-left: 1px solid #bbb;
  padding: 0 0.5rem;
  color: #375;
  font: inherit;
  cursor: pointer;
}
#action:hover #allow {
  color: #396;
}


.hidden {
  display: none !important;
}

</style>

<div class="wrap">
  <header>
    <div class="empty">🔒</div>
    <code class="title" style="font-family: monospace;"
      >who-am-i</code>
    <a href="https://microcosm.blue" target="_blank" class="micro"
      ><span style="color: #f396a9">m</span
      ><span style="color: #f49c5c">i</span
      ><span style="color: #c7b04c">c</span
      ><span style="color: #92be4c">r</span
      ><span style="color: #4ec688">o</span
      ><span style="color: #51c2b6">c</span
      ><span style="color: #54bed7">o</span
      ><span style="color: #8fb1f1">s</span
      ><span style="color: #ce9df1">m</span
    ></a>
  </header>

  <main>
    <p>Share your identity with {{ parent_host }}?</p>
    <div id="loader">
      <span class="spinner"></span>
    </div>
    <div id="user-info" class="hidden">
      <div id="action">
        <span id="handle"></span>
        <button id="allow">Allow</button>
      </div>
    </div>
  </main>
</div>


<script>
var loaderEl = document.getElementById('loader');
var infoEl = document.getElementById('user-info');
var actionEl = document.getElementById('action');
var handleEl = document.getElementById('handle');
var allowEl = document.getElementById('allow');

var DID = {{{json did}}};
let user_info = new URL('/user-info', window.location);
user_info.searchParams.set('fetch-key', {{{json fetch_key}}});
fetch(user_info)
  .then(resp => {
    if (!resp.ok) throw new Error('request failed');
    return resp.json();
  })
  .then(
    ({ handle }) => {
      loaderEl.remove();
      handleEl.textContent = `@${handle}`;
      infoEl.classList.remove('hidden');
      actionEl.addEventListener('click', () => share(handle));
    },
    err => {
      infoEl.textContent = 'ohno';
      console.error(err);
    },
  );

function share(handle) {
  top.postMessage({ source: 'whoami', handle }, '*'); // TODO: pass the referrer back from server
}

</script>
