{{#*inline "main"}}
<p>
  Share your identity with
  <span class="parent-host">{{ parent_host }}</span>?
</p>
<div id="loader">
  <span class="spinner"></span>
</div>
<div id="user-info" class="hidden">
  <div id="action">
    <span id="handle"></span>
    <button id="allow">Allow</button>
  </div>
</div>
<div id="or">
  <p>or, <a id="switch" href="#">use another account</a></p>
</div>

<script>
var loaderEl = document.getElementById('loader');
var infoEl = document.getElementById('user-info');
var actionEl = document.getElementById('action');
var handleEl = document.getElementById('handle');
var allowEl = document.getElementById('allow');
var switchEl = document.getElementById('switch');

switchEl.addEventListener('click', e => {
  e.preventDefault();
  console.log('switch plz');
});

var DID = {{{json did}}};
let user_info = new URL('/user-info', window.location);
user_info.searchParams.set('fetch-key', {{{json fetch_key}}});
fetch(user_info)
  .then(resp => {
    if (!resp.ok) throw new Error('request failed');
    return resp.json();
  })
  .then(
    ({ handle }) => {
      loaderEl.remove();
      handleEl.textContent = `@${handle}`;
      infoEl.classList.remove('hidden');
      actionEl.addEventListener('click', () => share(handle));
    },
    err => {
      infoEl.textContent = 'ohno';
      console.error(err);
    },
  );

function share(handle) {
  top.postMessage({ source: 'whoami', handle }, '*'); // TODO: pass the referrer back from server
}
</script>
{{/inline}}

{{#> prompt-base}}{{/prompt-base}}
