{{#*inline "main"}}
<p>
  Connect your ATmosphere
</p>

<p class="detail">
  <span class="parent-host">{{ parent_host }}</span> would like to confirm your handle
</p>

<div id="loader" class="hidden">
  <span class="spinner"></span>
</div>

<div id="user-info">
  <form id="action" action="/auth" method="GET" target="_blank">
    <label>
      @<input id="handle" name="handle" placeholder="example.bsky.social" />
    </label>
    <button id="allow" type="submit">connect</button>
  </form>
</div>

<script>
var loaderEl = document.getElementById('loader');
var infoEl = document.getElementById('user-info');
const formEl = document.getElementById('action');
const handleEl = document.getElementById('handle');

function err(msg) {

}

formEl.onsubmit = e => {
  e.preventDefault();
  // TODO: include expected referer! (..this system is probably bad)
  // maybe a random localstorage key that we specifically listen for?
  var url = new URL('/auth', window.location);
  url.searchParams.set('handle', handleEl.value);
  url.searchParams.set('flow', {{{json flow}}});
  var flow = window.open(url, '_blank');
  window.f = flow;

  window.addEventListener('storage', e => {
    var details = localStorage.getItem("who-am-i");
    if (!details) {
      console.error("hmm, heard from localstorage but did not get DID");
    }
    loaderEl.classList.remove('hidden');
  
    try {
      var parsed = JSON.parse(details);
    } catch (e) {
      return err("something went wrong getting the details back");
    }

    if (parsed.result === "fail") {
      return err(`something went wrong getting permission to share: ${parsed.reason}`);
    }

    infoEl.classList.add('hidden');
    lookUpAndShare(parsed.fetch_key);
  });
}

function lookUpAndShare(fetch_key) {
  let user_info = new URL('/user-info', window.location);
  user_info.searchParams.set('fetch-key', fetch_key);
  fetch(user_info)
    .then(resp => {
      if (!resp.ok) throw new Error('request failed');
      return resp.json();
    })
    .then(
      ({ handle }) => {
        loaderEl.remove();
        handleEl.textContent = `@${handle}`;
        infoEl.classList.remove('hidden');
        share(handle);
      },
      err => {
        infoEl.textContent = 'ohno';
        console.error(err);
      },
    );
}

function share(handle) {
  top.postMessage({ source: 'whoami', handle }, '*'); // TODO: pass the referrer back from server
}

</script>
{{/inline}}

{{#> prompt-base}}{{/prompt-base}}
